:root{
    --box-bg:hsl(180, 71%, 90%);
    --bg:hsl(180, 58%, 95%);
    --p:hsl(164, 25%, 12%);
    --h:hsl(164, 25%, 12%);
    --btn:hsl(180, 58%, 95%);
    --btn-bg:hsl(39, 92%, 57%);
    --btn-bg-hvr:hsl(18, 100%, 66%);
    --border:hsl(0, 0%, 50%);
}