@use "../util" as *;

.box{
    background-color: var(--box-bg);
    width: rem(360);
    height: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: rem(10);
    display: flex;
    flex-direction: column;
    align-items: center;


    form{
        width: rem(300);
        label{
            display: flex;
            margin-top: rem(18);
        }
    
        input{
            width: 100%;
            padding: rem(7);
            border: rem(1) solid var(--border);
            border-radius: rem(6);
            outline: none;
            
        }
        .btn{
            width: rem(300);
            height: rem(35);
            margin-top: rem(20);
            border: none;
            background-color:var(--btn-bg);
            color:var(--btn);
            font-size: rem(18);

            &:hover{
                background-color: var(--btn-bg-hvr);
            }
            
        }
        
    }
    .detail{
        text-align: center;
        padding-top: rem(20);
    }
    .p-2{
        text-align: center;
        a{
            color:var(--p);
        }
    }
}